/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 410px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.nav-bar{
  width: 100%;
  height: 100px;
  background-color: #673ab7;
  position: absolute;
  color: #fff;
  position: fixed;
  z-index: 300;
}
.nav-bar ul{
    text-align: center;
}
.nav-bar ul li{
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}

.nav-bar ul li a, .nav-bar ul li a:visited{
  color: #fff;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}